{% extends "base.html" %}
{% load static %}
{% block page_header %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <i class="fa-duotone fa-bowl-rice"></i>
      THAI FOOD SUPERSTORE
    </a>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</nav>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">SIGN IN / REGISTER</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ALL PRODUCTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FRESH</a>
    </li>
    <li class="nav-item">
    <li class="nav-item">
      <a class="nav-link" href="#">HOUSEHOLD ESSENTIALS</a>
  </ul>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-4">col-sm-4
        <div class="col">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-8">col-sm-8
            <div class="card bg-dark text-white">
                <img src=".media/pad_thai.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
      </div>
    </div>
   
  </div>

{% endblock %}
