{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="row my-5 pt-5 bg-light">
  <div class="col-md-3 d-none d-md-block pt-5 bg-light">
    <div class="col-12 bg-light">
      <a href="#" class="text-decoration-none" target="_blank" aria-label="Visit">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="phuket island" src="/media/Paste/พริกแกงเขียวหวานแม่พลอยกระปุก.jpg">
          <div class="card-body">
            <h5 class="card-title">Thai Green Curry Paste</h5>
            <p class="card-text"> <small class="text-body-secondary">Mae ploy Thai Green Curry - 400g, is an ideal base
                for making traditional Thai cuisine. make from Green Chilli 31.0%, Lemongrass, Garlic, Salt, Galangal,
                Shrimp Paste (ShrimpCrustacean), Salt), Kaffir Lime Peel, Coriander Seed, Pepper, Cumin,
                Turmeric.</small> </p>
          </div>
        </div>
      </a>
      <a href="#" class="text-decoration-none" target="_blank" aria-label="">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="wat a run bangkok" src="/media/Kitchen Utensils/wok.jpg">
          <div class="card-body">
            <h5 class="card-title">Carbon Steel Wok</h5>
            <p class="card-text"> <small class="text-body-secondary">
                Carbon steel wok, 32cm, excellence, induction hobs, suitable /natural patina non-stick, beech
                handle/metal tool safe. This is an indispensable tool for any kitchen enthusiast looking to master the
                art of stir-frying. Remember to consider the size, shape, and handle.</small> </p>
          </div>
        </div>
      </a>
      <a href="#" class="text-decoration-none" target="_blank" aria-label="Visit">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="two people sit on cragle on chang island"
            src="/media/Rice and noodie/wai_wai_noodle.jpg">
          <div class="card-body">
            <h5 class="card-title">Rice Noodle Wai Wai</h5>
            <p class="card-text"> <small class="text-body-secondary">Wai Wai Oriental Style Instant Noodles are
                processed using the latest formula through automatic equipment. They are dried hygienically without
                exposure to the sun to serve as a complete food. </small> </p>
          </div>
        </div>
      </a>
      <a href="#" class="text-decoration-none" target="_blank" aria-label="Visit">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="a lady pulling suitcase in airport" src="/media/Cans/taiger_balm.jpg">
          <div class="card-body">
            <h5 class="card-title"> 40 % DISCOUNT</h5>
            <p class="card-text"> <small class="text-body-secondary">
                Tiger Balm, inspired by centuries of Chinese wisdom, offers a unique formulation specially made with
                effective active herbal ingredients.
                Tiger Balm’s herbal and aromatic formulas help soothe sore and aching muscles, and Tiger Balm White
                offers relief from tension headaches.</small> </p>
          </div>
        </div>
      </a>

    </div>
  </div>
  <div class="col mb-12 pt-5">
    <div class="card">
      <img src="/media/pad_thai.jpg" class="img-fluid" alt="Responsive image">
      <div class="card-body">
        <h5 class="card-title">Pad Thai</h5>
        <p class="card-text">Pad Thai is one of the most popular dishes in Thailand. People tend to have it for lunch
          because it is easy to cook: it is a nice and warm stir-fry noodle.
          <a class="nav-link active" href="#">Get Pad Thai Recipes</a>
          <a class="nav-link active" href="#">SHOP NOW</a>
        </p>
      </div>
      <div class="card pt-5">
        <img src="/media/green_curry.jpg" class="img-fluid" alt="Responsive image">
        <div class="card-body">
          <h5 class="card-title">Chicken Green Curry</h5>
          <p class="card-text">Chicken Green Curry is a deliciously rich, aromatic Thai curry made with authentic Thai
            green paste. It can be mild or spicy, and the vibrant, creamy sauce made with coconut milk is perfect for
            serving with Thai jasmine rice as a side dish.
            <a class="nav-link active" href="#">Get Chicken Green Curry Recipes</a>
            <a class="nav-link active" href="#">SHOP NOW</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
{% comment %} <div class="container h-100">
  <div class="row h-100">
    <div class="col-7 col-md-6 my-auto">
      <h1 Class=" display-4 log-font text-black">
        40 % DISCOUNT
      </h1>
      <div>
        <h4>
          <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
            SHOP NOW
          </a>
        </h4>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock %}