{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
{% comment %} Aside advert {% endcomment %}
<div class="row my-5 pt-5 bg-light w-100">
  <div class="col-md-3 d-none d-md-block pt-5 bg-light aside-container-advert">
    <div class="col-12 bg-light">
      <a class="text-decoration-none" target="_blank"
        aria-label="Visit our product-page green curry paste(open in a same tab)">
        <div class="card mt-5 hover-color-ads shadow-none">
          <img class="card-img-top mt-5" alt="green curry bowl product" src="{{ MEDIA_URL }}paste/green_curry_paste_bowl.jpg">
          <div class="card-body">
            <h4>40 % DISCOUNT</h4>
            <h5 class="card-title">Thai Green Curry Paste</h5>
            <a class="nav-link active" href="{% url 'products' %}?category=special_offer_discounts"
              aria-label="Visit our product-page green curry paste bowl(open in a same tab)">SHOP NOW</a>
              <p class="card-text"> <small class="text-body-secondary">Mae ploy Thai Green Curry - 400g, is an ideal base
                for making traditional Thai cuisine. make from Green Chilli 31.0%, Lemongrass, Garlic, Salt, Galangal,
                Shrimp Paste (ShrimpCrustacean), Salt, Kaffir Lime Peel, Coriander Seed, Pepper, Cumin,
                Turmeric.</small> </p>
          </div>
        </div>
      </a>
      <a class="text-decoration-none" target="_blank"
        aria-label="Visit our product-page household essentials wok carbon steel(open in a same tab)">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="wok carbon steel product" src="{{ MEDIA_URL }}kitchen_utensils/wok_carbon_steel.jpg">
          <div class="card-body">
            <h4>30 % DISCOUNT</h4>
            <h5 class="card-title">Carbon Steel Wok</h5>
            <a class="nav-link active" href="{% url 'products' %}?category=special_offer_discounts" aria-label="Visit our product-page housrhold essentials wok carbon steel(open in a same tab)">SHOP NOW</a>
            <p class="card-text"> <small class="text-body-secondary">
                Carbon steel wok, 32cm, excellence, induction hobs, suitable /natural patina non-stick, beech
                handle/metal tool safe. This is an indispensable tool for any kitchen enthusiast looking to master the
                art of stir-frying. Remember to consider the size, shape, and handle.</small> </p>
          </div>
        </div>
      </a>
      <a class="text-decoration-none" target="_blank"
        aria-label="Visit our product-page rice_and_noodle wai wai rice noodle(open in a same tab)">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="wai wai rice noodle product" src="{{ MEDIA_URL }}rice_and_noodle/wai_wai_noodle.jpg">
          <div class="card-body">
            <h4>50 % DISCOUNT</h4>
            <h5 class="card-title">Rice Noodle Wai Wai</h5>
            <a class="nav-link active" href="{% url 'products' %}?category=special_offer_discounts" aria-label="Visit our product-page rice and noodle wai wai rice noodle(open in a same tab)">SHOP NOW</a>
            <p class="card-text"> <small class="text-body-secondary">Wai Wai Oriental Style Instant Noodles are
                processed using the latest formula through automatic equipment. They are dried hygienically without
                exposure to the sun to serve as a complete food. </small> </p>
          </div>
        </div>
      </a>
      <a class="text-decoration-none" target="_blank"
        aria-label="Visit our product-page friut and vegetables durian(open in a same tab)">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="durian Fresh" src="{{ MEDIA_URL }}fresh/durian.jpg">
          <div class="card-body">
            <h4>20 % DISCOUNT</h4>
            <h5 class="card-title">Durian</h5>
            <a class="nav-link active" href="{% url 'products' %}?category=special_offer_discounts" aria-label="Visit our product-page fresh fruit and vegetables durian(open in a same tab)">SHOP NOW</a>
            <p class="card-text"> <small class="text-body-secondary">
                Fresh & tasty Durian for sale! Buy fresh Durian online, rare exotic fruit delivery boxes delivered to
                your door, next working anywhere in the UK.</small> </p>
          </div>
        </div>
      </a>
      <a class="text-decoration-none" target="_blank"
        aria-label="Visit our product-page household drugs(open in a same tab)">
        <div class="card my-3 hover-color-ads">
          <img class="card-img-top" alt="tiger balm product" src="{{ MEDIA_URL }}household_drugs/taiger_balm.jpg">
          <div class="card-body">
            <h4>40 % DISCOUNT</h4>
            <h5 class="card-title">Tiger Balm</h5>
            <a class="nav-link active" href="{% url 'products' %}?category=special_offer_discounts"
              aria-label="Visit our product-page household drugs(open in a same tab)">SHOP NOW</a>
            <p class="card-text"> <small class="text-body-secondary">
                Tiger Balm, inspired by centuries of Chinese wisdom, offers a unique formulation specially made with
                effective active herbal ingredients.
                Tiger Balm’s herbal and aromatic formulas help soothe sore and aching muscles, and Tiger Balm White
                offers relief from tension headaches.</small> </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% comment %} Main content {% endcomment %}
  <div class="col mb-12 mt-5 w-100 pt-5">
    <div class="card w-100 border-0 shadow-none main-container">
      <div class="shadow-sm bg-white rounded card-container-margin mb-3">
        <img src="{{ MEDIA_URL }}pad_thai.jpg" class="img-fluid" alt="pad thai with two small seasoning bowl and lime">
        <div class="card-body">
          <h3 class="card-title">
            <i class="fa-solid fa-pepper-hot"></i> Pad Thai</h3>
          <p class="card-text">Pad Thai is one of the most popular dishes in Thailand. People tend to have it for lunch
            because it is easy to cook: it is a nice and warm stir-fry noodle.
            <a class="nav-link active" href="" target="_blank" rel="noopener"
              aria-label="Visit our facebook padthai recipes(open in a new tab)">Get Pad Thai Recipes and share your recipes in a comment</a>
            <a class="nav-link active" href="{% url 'products' %}?category=special_offer_discounts"
              aria-label="Visit our product-page rice and noodle(open in a same tab)">SHOP NOW</a>
          </p>

<nav class="">
        <form method="GET" action="{% url 'home' %}">
          <div class="input-group ">
            <input class="form-control border border-black" type="hidden" name="recipeid" value="1" placeholder="Leave Comment"
              aria-label="Search">
            <input class="form-control border border-black" type="text" name="comment" placeholder="Leave Comment"
              aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </nav>



{% for commentn in RecipeCommments %}
          {% if commentn.recipeid == '1' %}
                <div class="text-justify darker mt-4 ">
                  <div style="display:flex;" >
                  <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle mr-2" width="40" height="40">
                    <h4 style="margin: auto; width:95%" >{{ commentn.username }}</h4>
</div>
                    <p>{{ commentn.comment }}</p>
                </div>
          {% endif %}
{% endfor %}


        </div>
      </div>

      <div class="shadow-sm bg-white rounded card-container-margin mb-3">
        <img src="{{ MEDIA_URL }}green_curry.jpg" class="img-fluid" alt="green curry in a bowl">
        <div class="card-body">

          <h3 class="card-title">
            <i class="fa-solid fa-pepper-hot"></i> Chicken Green Curry</h3>
          <p class="card-text">Chicken Green Curry is a deliciously rich, aromatic Thai curry made with authentic Thai
            green paste. It can be mild or spicy, and the vibrant, creamy sauce made with coconut milk is perfect for
            serving with Thai jasmine rice as a side dish.
            <a class="nav-link active" href="#" target="_blank" rel="noopener"
              aria-label="Visit our facebook Thai chicken green curry recipes story(open in a new tab)">Get Chicken green curry Recipes and share your recipes in a comment</a>
            <a class="nav-link active" href="{% url 'products' %}?category=special_offer_discounts" aria-label="Visit our product-page paste(open in a same tab)">SHOP
              NOW</a>
          </p>

          <nav class="">
        <form method="GET" action="{% url 'home' %}">
          <div class="input-group ">
            <input class="form-control border border-black" type="hidden" name="recipeid" value="2" placeholder="Leave Comment"
              aria-label="Search">
            <input class="form-control border border-black" type="text" name="comment" placeholder="Leave Comment"
              aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </nav>



{% for commentn in RecipeCommments %}
          {% if commentn.recipeid == '2' %}
                <div class="text-justify darker mt-4 ">
                  <div style="display:flex;" >
                  <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle mr-2" width="40" height="40">
                    <h4 style="margin: auto; width:95%" >{{ commentn.username }}</h4>
</div>
                    <p>{{ commentn.comment }}</p>
                </div>
          {% endif %}
{% endfor %}

        </div>
      </div>
      <div class="shadow-sm bg-white rounded card-container-margin mb-3">
        <img src="{{ MEDIA_URL }}float_market.jpg" class="img-fluid"
          alt="damnoen saduak float market with two boat carry fresh fruit">
        <div class="card-body">

          <h3 class="card-title">
            <i class="fa-solid fa-pepper-hot"></i> Thai Floating Market Delivery Fresh Fruit Every Day</h3>
          <p class="card-text"> Damnoen Saduak Floating Market is
            Thailand's largest and most famous floating market is where vendors on boats sell local food and unique
            pieces—from kitchenware to clothing. Try the warm coconut pancakes, pad thai, boat noodles, and classic
            mango sticky rice as you float along the slender canals. You can also find fresh fruits and vegetables
            here.
            <a class="nav-link active" href="#" target="_blank" rel="noopener"
              aria-label="Visit our facebook Thai fruit and vegetables story (open in a new tab)">Get to know the Thai floating market and share the Thai food market you know in a comment</a>
            <a class="nav-link active" href="{% url 'products' %}?category=fresh"
              aria-label="Visit our product-page fruit and vegetables(open in a same tab)">SHOP NOW</a>
          </p>


          <nav class="">
        <form method="GET" action="{% url 'home' %}">
          <div class="input-group ">
            <input class="form-control border border-black" type="hidden" name="recipeid" value="3" placeholder="Leave Comment"
              aria-label="Search">
            <input class="form-control border border-black" type="text" name="comment" placeholder="Leave Comment"
              aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </nav>

{% for commentn in RecipeCommments %}
          {% if commentn.recipeid == '3' %}
                <div class="text-justify darker mt-4 ">
                  <div style="display:flex;" >
                  <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle mr-2" width="40" height="40">
                    <h4 style="margin: auto; width:95%" >{{ commentn.username }}</h4>
</div>
                    <p>{{ commentn.comment }}</p>
                </div>
          {% endif %}
{% endfor %}

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}