
<script type="text/javascript">

   /* const plusBtn = document.querySelector('#plus')
    const minusBtn = document.querySelector('#minus')
    const inputQty = document.querySelector('#inputQty')
    
    
    // increment/decrement value on input field
    // add eventlisteners on +/- buttons to update the value field
    
    
   /* plusBtn.addEventListener('click', e => {
        e.preventDefault()
        inputQty.value = parseInt(inputQty.value) + 1
    
    })
    
    minusBtn.addEventListener('click', e => {
        e.preventDefault()
    
        if (inputQty.value <= 0) {
        inputQty.value = 0
    }else{
      inputQty.value = parseInt(inputQty.value) - 1
    }
    }); */
    
    // Disable +/- buttons outside 1-99 range
    
    function handleEnableDisable(itemId) {
        var currentValue = parseInt(£(`#id_qty_£{itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        £(`#decrement-qty_£{itemId}`).prop('disabled', minusDisabled);
        £(`#increment-qty_£{itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    
    var allQtyInputs = £('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = £(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    
    £('.qty_input').change(function() {
        var itemId = £(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    
    £('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = £(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt(£(closestInput).val());
        £(closestInput).val(currentValue + 1);
        var itemId = £(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Decrement quantity
    
    £('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = £(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt(£(closestInput).val());
        £(closestInput).val(currentValue - 1);
        var itemId = £(this).data('item_id');
        handleEnableDisable(itemId);
    });
        
</script>
