/* Thai food superstore templates base.html and home page style */
/* General */
html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Roboto";
    background-color: #f8f9fa;
}

ul {
    list-style: none;
    padding-left: 0%;
}

p {
    color: #555;
}
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Header style */
h1 {
    color: rgb(21, 193, 27);
}


.header-nav:hover {
    text-decoration: underline;
    color: #555;
}

.header-shopping-basket {
    font-size: 180%;
    margin-right: 30px;
}

.header-shopping-basket-detail {
    display: flex;
    flex-direction: row;
}

.header-shopping-basket-detail p {
    padding-left: 20px;
    font-size: 22px;
    padding-top: 10px;
}

/* Main content style */
.main-container {
    background-color: #f8f9fa;
}

h3 {
    color: rgb(10, 129, 14);

}

h4 {
    color: red;
    font-size: 19px;
}

h5 {
    color: black;
}

.card-container-margin {
    margin-bottom: 40px;
}

.home-page-down-to-top-button {
    font-size: 200%;
    padding-right: 50px;
}

/* Footer style */
.card-footer-get-in-touch-social-media-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 3em;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 150%;
}

.card-footer-get-in-touch-social-media-list:hover {
    color: #e4d7d7;
}

.footer-container-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 6em;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-container {
    padding-bottom: 20px;
}

.footer-container p {
    font-size: 24px;
    color: #f7f9f5;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer-container-list i {
    font-size: 250%;
    color: #f7f9f5;
}

.footer-container-list-copy-right {
    display: flex;
}

.footer-container-list-copy-right p {
    margin-left: 10px;
}

/* Media Query */
/* Mobile */
@media (max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    .footer-container-list {
        flex-direction: column;
    }

    .footer-container-card {
        flex-direction: column;
        text-align: center;
    }

    .card-footer-get-in-touch-social-media-list {
        flex-direction: column;
    }

    .header-nav-dropdown button {
        font-size: 12px;
    }

    .main-container {
        margin-top: 130px;
    }

}

/* Tablet */
@media (max-width: 1024px) {
    .card-footer-get-in-touch-social-media-list {
        gap: 0.5em;
        flex-direction: column;
    }

    .footer-container-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-container-list {
        flex-direction: column;
    }

    .main-container {
        margin-top: 100px;
    }

    .aside-container-advert {
        margin-top: 100px;
    }
}

@media (min-width: 1024px) {}

/* products.html style */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: -1;
}

.product-container {
    margin-top: 100px;
}

.product-container-content {
    padding-top: 120px;
}

@media (max-width: 991px) {
    .product-container-content {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* product_detail.html style */
.product-details-container-content-p1 {
    margin-top: 224px;
}

@media (max-width: 991px) {

    .header-container {
        padding-top: 116px;
    }

    .product-details {
        margin-top: 20px;
        align-content: center;
    }

    .product-details-container-content {
        padding-bottom: 0;
    }

    .product-details-container-content-p1 {
        margin-top: 0;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* bag app style */
.bag-container {
    margin-top: 200px;
}


.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {
    background:  #4b7bff;
    color: white !important;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: rgb(21, 193, 27);
    color: white !important;
}