/* General */
html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Roboto";
    background-color: #f8f9fa;
}

ul {
    list-style: none;
    padding-left: 0%;
}

p {
    color: #555;
}

/* Header style */
h1 {
    color: rgb(21, 193, 27);
}


.header-nav:hover {
    text-decoration: underline;
    color: #555;
}

.header-shopping-basket {
    font-size: 200%;
    margin-right: 30px;
}

.header-shopping-basket-detail {
    display: flex;
    flex-direction: row;
}

.header-shopping-basket-detail p {
    padding-left: 20px;
    font-size: 26px;
    padding-top: 10px;
}

/* Main content style */
.main-container {
    background-color: #f8f9fa;
}

h3 {
    color: rgb(10, 129, 14);

}

h4 {
    color: red;
    font-size: 19px;
}

h5 {
    color: black;
}

.card-container-margin {
    margin-bottom: 40px;
}

/* Footer style */
.card-footer-get-in-touch-social-media-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 3em;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 150%;
}

.card-footer-get-in-touch-social-media-list:hover {
    color: #e4d7d7;
}

.footer-container-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 6em;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-container {
    padding-bottom: 20px;
}

.footer-container p {
    font-size: 24px;
    color: #f7f9f5;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer-container-list i {
    font-size: 250%;
    color: #f7f9f5;
}

.footer-container-list-copy-right {
    display: flex;
}

.footer-container-list-copy-right p {
    margin-left: 10px;
}

/* Media Query */

@media (max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    .footer-container-list {
        flex-direction: column;
    }

    .footer-container-card {
        flex-direction: column;
        text-align: center;
    }

    .card-footer-get-in-touch-social-media-list {
        flex-direction: column;
    }

    .header-nav-dropdown button {
        font-size: 12px;
    }

    .main-container {
        margin-top: 130px;
    }

}
@media (max-width: 1024px) {
    .card-footer-get-in-touch-social-media-list {
    gap: 0.5em;
    flex-direction: column;
    }
   
    .footer-container-card {
        flex-direction: column;
        align-items: center;
    }
    .footer-container-list {
        flex-direction: column;
    }
    .main-container {
        margin-top: 100px;
    }
    .aside-container-advert {
        margin-top: 100px;
    }
    }

@media (min-width: 1024px) {
   
}