<div class="collapse navbar-collapse justify-content-center bg-light" id="main-nav">
<div class="d-flex bg-light header-nav-dropdown">
    <div class="btn-group ">
      <button type="button" class="btn btn-light" data-toggle="dropdown" aria-expanded="true"
        aria-expanded="false">
        LOGIN / REGISTER
      </button>
      <ul class="dropdown-menu">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <a class="dropdown-item" href="#">PRODUCT MANAGEMENT</a>
          {% endif %}
          <a class="dropdown-item" href="#">MY ACCOUNT</a>
          <a class="dropdown-item" href="#">LOGOUT</a>
        {% else %}
          <a class="dropdown-item" href="#">REGISTER</a>
          <a class="dropdown-item" href="#">LOGIN</a>
        {% endif %}
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-light" data-toggle="dropdown" aria-expanded="true"
        aria-expanded="false">
        PRODUCTS
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'products' %}">ALL PRODUCTS</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">FRESH</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=cans">CANS</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">HOUSEHOLD DRUGS</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">KITCHEN UTENSILS</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">PASTE</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">RICE AND NOODLE</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">SAUCE AND SEASONING</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">SNACK AND CRISPS</a></li>

      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-light" data-toggle="dropdown" aria-expanded="true"
        aria-expanded="false">
        FRESH
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'products' %}">FRUIT</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">VEGETABLE</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-light" data-toggle="dropdown" aria-expanded="true"
        aria-expanded="false">
        SPECIAL OFFERS
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'products' %}">SPECIAL OFFER DISCOUNTS</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">CLEARANCE PRODUCTS</a></li>
      </ul>
    </div>
  </div>
</div>
