<div class="collapse navbar-collapse justify-content-center bg-light" id="main-nav">
  <div class="d-flex bg-light header-nav-dropdown">
      <div class="btn-group ">
        <button type="button" class="btn btn-light" data-toggle="dropdown"
          aria-expanded="true">
          LOGIN / REGISTER
        </button>
        <ul class="dropdown-menu">
          {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li><a class="dropdown-item" href="#">PRODUCT MANAGEMENT</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="/accounts/email">MY ACCOUNT</a></li>
            <li><a class="dropdown-item" href="/accounts/logout">LOGOUT</a></li>
          {% else %}
            <li><a class="dropdown-item" href="/accounts/signup">REGISTER</a></li>
            <li><a class="dropdown-item" href="/accounts/login">LOGIN</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-light" data-toggle="dropdown" aria-expanded="true">
          PRODUCTS
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'products' %}">ALL PRODUCTS</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=fresh">FRESH</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=cans">CANS</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=household_drugs">HOUSEHOLD DRUGS</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=kitchen_utensils">KITCHEN UTENSILS</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=paste">PASTE</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=rice_and_noodle">RICE AND NOODLE</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=sauce_and_seasoning">SAUCE AND SEASONING</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=snack_and_crisps">SNACK AND CRISPS</a></li>
  
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-light" data-toggle="dropdown" aria-expanded="true">
          FRESH
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'products' %}?category=fresh">FRUIT</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=fresh">VEGETABLE</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-light" data-toggle="dropdown" aria-expanded="true">
          SPECIAL OFFERS
        </button>

        <a href="{% url 'recepies' %}" class="btn btn-light"  >
          RECIPES
        </a>

        <a href="{% url 'letter-index' %}" class="btn btn-light"  >
          SUBSCIBE NEWSLETTER
        </a>
        {% if user.is_superuser %}
        <a class="btn btn-light" href="{% url 'mail-letter' %}">MAIL <span class="sr-only">(current)</span></a>
        {% endif %}
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'products' %}?category=special_offer_discounts">SPECIAL OFFER DISCOUNTS</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=clearance_products">CLEARANCE PRODUCTS</a></li>
        </ul>
      </div>
    </div>
  </div>
  