{% extends 'base.html' %}
{% block title %}Home Page {% endblock %}


{% block content %}
<div class="container" style="margin-top:200px;margin-bottom:50px;" >
    <div class="row mt-5 pt-5">
        <div class="col-md-4 offset-md-4">
            {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            <div class="card">
                <div class="card-body">
                    <h3>Subscribe to Newsletter</h3>
                    <hr>
                    <form method="GET" action="{% url 'letter-index' %}" >

                        <div id="div_id_email" class="form-group">
<label for="id_email" class=" requiredField">
                Email<span class="asteriskField">*</span>
</label>
<div>
<input type="email" required name="subscribemail" maxlength="254" class="emailinput form-control" required="" id="id_email">
</div> </div>

                        <input class="btn btn-info btn-block" type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}